In [7]:
import pandas

In [9]:
import pandas as pd

In [17]:
df = pandas.read_csv('C:/Users/asia/Downloads/codes/data/gapminder.tsv', sep='\t')

In [18]:
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [19]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [20]:
print(df.shape)

(1704, 6)

In [21]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [23]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [26]:
country_df=df['country']

In [27]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [28]:
print(df.tail())

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [30]:
subject=df[['country','continent','year']]

In [31]:
print(subject)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [32]:
print(country_df)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [33]:
country_df_list=df[['country']]

In [34]:
print(type(country_df_list))

<class 'pandas.core.frame.DataFrame'>

In [35]:
print(country_df_list)

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [36]:
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [37]:
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [39]:
print(df.iloc[-1])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [43]:
print(df.loc[[1,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
1    Afghanistan      Asia  1957   30.332   9240934   820.853030
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [42]:
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object

In [44]:
subset=df.loc[:,['year','pop']]
print(subset)

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [51]:
subset=df.iloc[:,[2,4]]
print(subset)

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [52]:
small_range=list(range(5))

In [53]:
print(small_range)

[0, 1, 2, 3, 4]

In [54]:
subset=df.iloc[:,small_range]
print(subset)

          country continent  year  lifeExp       pop
0     Afghanistan      Asia  1952   28.801   8425333
1     Afghanistan      Asia  1957   30.332   9240934
2     Afghanistan      Asia  1962   31.997  10267083
3     Afghanistan      Asia  1967   34.020  11537966
4     Afghanistan      Asia  1972   36.088  13079460
...           ...       ...   ...      ...       ...
1699     Zimbabwe    Africa  1987   62.351   9216418
1700     Zimbabwe    Africa  1992   60.377  10704340
1701     Zimbabwe    Africa  1997   46.809  11404948
1702     Zimbabwe    Africa  2002   39.989  11926563
1703     Zimbabwe    Africa  2007   43.487  12311143

[1704 rows x 5 columns]

In [55]:
small_range=list(range(3,6))

In [56]:
print(small_range)

[3, 4, 5]

In [63]:
small_range=list(range(0,6,3))

In [64]:
subset=df.iloc[:,small_range]

In [65]:
print(subset)

          country  lifeExp
0     Afghanistan   28.801
1     Afghanistan   30.332
2     Afghanistan   31.997
3     Afghanistan   34.020
4     Afghanistan   36.088
...           ...      ...
1699     Zimbabwe   62.351
1700     Zimbabwe   60.377
1701     Zimbabwe   46.809
1702     Zimbabwe   39.989
1703     Zimbabwe   43.487

[1704 rows x 2 columns]

In [68]:
subset=df.iloc[:3,:3]

In [69]:
print(subset)

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962

In [105]:
small_range=list(range(0,6,6))

In [106]:
subset=df.iloc[:,small_range]

In [107]:
print(subset)

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [108]:
print(df.iloc[240,0])

Canada

In [109]:
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [120]:
print(df.groupby(['year','country'])['lifeExp'].mean())

year  country
1952  Afghanistan           28.801
      Albania               55.230
      Algeria               43.077
      Angola                30.015
      Argentina             62.485
                             ...
2007  Vietnam               74.249
      West Bank and Gaza    73.422
      Yemen, Rep.           62.698
      Zambia                42.384
      Zimbabwe              43.487
Name: lifeExp, Length: 1704, dtype: float64

In [121]:
multi_group_var=df.groupby(['year','country'])['lifeExp'].mean()

In [125]:
print(multi_group_var)

year  country
1952  Afghanistan           28.801
      Albania               55.230
      Algeria               43.077
      Angola                30.015
      Argentina             62.485
                             ...
2007  Vietnam               74.249
      West Bank and Gaza    73.422
      Yemen, Rep.           62.698
      Zambia                42.384
      Zimbabwe              43.487
Name: lifeExp, Length: 1704, dtype: float64

In [126]:
flat=multi_group_var.reset_index()

In [127]:
print(flat)

      year             country  lifeExp
0     1952         Afghanistan   28.801
1     1952             Albania   55.230
2     1952             Algeria   43.077
3     1952              Angola   30.015
4     1952           Argentina   62.485
...    ...                 ...      ...
1699  2007             Vietnam   74.249
1700  2007  West Bank and Gaza   73.422
1701  2007         Yemen, Rep.   62.698
1702  2007              Zambia   42.384
1703  2007            Zimbabwe   43.487

[1704 rows x 3 columns]

In [128]:
print(df.groupby('continent')['country'].nunique())

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

In [142]:
asia_df=df[df['continent']=='Asia'][['continent','country']]

In [143]:
print(asia_df)

     continent      country
0         Asia  Afghanistan
1         Asia  Afghanistan
2         Asia  Afghanistan
3         Asia  Afghanistan
4         Asia  Afghanistan
...        ...          ...
1675      Asia  Yemen, Rep.
1676      Asia  Yemen, Rep.
1677      Asia  Yemen, Rep.
1678      Asia  Yemen, Rep.
1679      Asia  Yemen, Rep.

[396 rows x 2 columns]

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("C:/Users/asia/Desktop/codes/data/concat_1.csv")
df2 = pd.read_csv("C:/Users/asia/Desktop/codes/data/concat_2.csv")
df3 = pd.read_csv("C:/Users/asia/Desktop/codes/data/concat_3.csv")
print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [3]:
print(df2)

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [4]:
print(df3)

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [5]:
print(df1.index)

RangeIndex(start=0, stop=4, step=1)

In [6]:
row_concat = pd.concat([df1,df2,df3])
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [10]:
print(row_concat.iloc[3,:])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [11]:
new_row_series = pd.Series(['n1','n2','n3','n4'])
print(new_row_series)

0    n1
1    n2
2    n3
3    n4
dtype: object

In [12]:
print(pd.concat([df1,new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [16]:
new_row_df=pd.DataFrame(
    data=[['n1','n2','n3','n4']],
    columns=['A','B','C','D'],)
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [18]:
print(pd.concat([df1,new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [19]:
row_concat_i = pd.concat([df1, df2, df3], ignore_index=True)
print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [20]:
col_concat = pd.concat([df1, df2, df3], axis="columns")
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [21]:
col_concat['new_collll']=['n1','n2','n3','n4']
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_collll
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8         n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9         n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10         n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11         n4

In [23]:
col_concat = pd.concat([df1, df2, df3], axis="columns",ignore_index=True)
print(col_concat)

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [24]:
df1.columns=['a','b','c','d']
df2.columns=['e','f','g','h']
df3.columns=['a','c','f','h']

In [25]:
row_concat=pd.concat([df1,df2,df3])
print(row_concat)

     a    b    c    d    e    f    g    h
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [26]:
print(pd.concat([df1,df2,df3],join='inner'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [29]:
print(pd.concat([df3,df2],join='inner'))

     f    h
0   c8   d8
1   c9   d9
2  c10  d10
3  c11  d11
0   b4   d4
1   b5   d5
2   b6   d6
3   b7   d7

In [32]:
print(pd.concat([df1,df2,df3],axis='columns'))

    a   b   c   d   e   f   g   h    a    c    f    h
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [65]:
from pathlib import Path

In [78]:
from pathlib import Path

billboard_data_files = (
    Path("C:/Users/asia/Desktop/codes/data/billboard-by_week")
    .glob("billboard-*.csv")
)

billboard_data_files = sorted(list(billboard_data_files))
print(billboard_data_files)

[WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-01.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-02.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-03.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-04.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-05.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-06.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-07.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-08.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-09.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-10.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-11.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-12.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-13.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-14.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-15.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-16.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-17.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-18.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-19.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-20.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-21.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-22.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-23.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-24.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-25.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-26.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-27.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-28.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-29.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-30.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-31.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-32.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-33.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-34.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-35.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-36.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-37.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-38.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-39.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-40.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-41.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-42.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-43.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-44.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-45.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-46.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-47.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-48.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-49.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-50.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-51.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-52.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-53.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-54.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-55.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-56.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-57.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-58.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-59.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-60.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-61.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-62.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-63.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-64.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-65.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-66.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-67.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-68.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-69.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-70.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-71.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-72.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-73.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-74.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-75.csv'), WindowsPath('C:/Users/asia/Desktop/codes/data/billboard-by_week/billboard-76.csv')]

In [79]:
billbillboard_data_files = list(billboard_data_files)

In [80]:
billboard_data_files = list(billboard_data_files)

In [81]:
billboard01 = pd.read_csv(billboard_data_files[0])
billboard02 = pd.read_csv(billboard_data_files[1])
billboard03 = pd.read_csv(billboard_data_files[2])
print(billboard01)

     year            artist                    track  time date.entered week  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08  wk1
3    2000      3 Doors Down                    Loser  4:24   2000-10-21  wk1
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  wk1
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  wk1
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  wk1
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  wk1
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  wk1

     rating
0      87.0
1      91.0
2      81.0
3      76.0
4      57.0
..      ...
312    86.0
313    85.0
314    95.0
315    99.0
316    60.0

[317 rows x 7 columns]

In [70]:
billboard = pd.concat([billboard01, billboard02, billboard03])
print(billboard.shape)

NameError: name 'billboard01' is not defined

In [71]:
from pathlib import Path

In [77]:
billboard_data_files = (
    Path("C:/Users/asia/Desktop/codes/data/billboard-by_week")
    .glob("billboard-*.csv")
)
list_billboard_df=[]
for csv_filename in billboard_data_files:
    df = pd.read_csv(csv_filename)
    list_billboard_df.append(df)
print(len(list_billboard_df))

76

In [82]:
person=pd.read_csv("C:/Users/asia/Desktop/codes/data/survey_person.csv")
site=pd.read_csv("C:/Users/asia/Desktop/codes/data/survey_site.csv")
survey=pd.read_csv("C:/Users/asia/Desktop/codes/data/survey_survey.csv")
visited=pd.read_csv("C:/Users/asia/Desktop/codes/data/survey_visited.csv")
print(person)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [83]:
print(site)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [84]:
print(visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [85]:
print(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [86]:
visited_subset=visited.loc[[0,2,6],:]
print(visited_subset)

   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

In [91]:
o2o_merge=site.merge(visited_subset, left_on="name", right_on="site")
print(o2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14