In [7]:
import pandas

In [9]:
import pandas as pd

In [17]:
df = pandas.read_csv('C:/Users/asia/Downloads/codes/data/gapminder.tsv', sep='\t')

In [18]:
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [19]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [20]:
print(df.shape)

(1704, 6)

In [21]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [23]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [26]:
country_df=df['country']

In [27]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [28]:
print(df.tail())

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [29]:
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [30]:
subject=df[['country','continent','year']]

In [31]:
print(subject)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [32]:
print(country_df)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [33]:
country_df_list=df[['country']]

In [34]:
print(type(country_df_list))

<class 'pandas.core.frame.DataFrame'>

In [35]:
print(country_df_list)

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [36]:
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [37]:
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [39]:
print(df.iloc[-1])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [43]:
print(df.loc[[1,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
1    Afghanistan      Asia  1957   30.332   9240934   820.853030
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [42]:
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object

In [44]:
subset=df.loc[:,['year','pop']]
print(subset)

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [51]:
subset=df.iloc[:,[2,4]]
print(subset)

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [52]:
small_range=list(range(5))

In [53]:
print(small_range)

[0, 1, 2, 3, 4]

In [54]:
subset=df.iloc[:,small_range]
print(subset)

          country continent  year  lifeExp       pop
0     Afghanistan      Asia  1952   28.801   8425333
1     Afghanistan      Asia  1957   30.332   9240934
2     Afghanistan      Asia  1962   31.997  10267083
3     Afghanistan      Asia  1967   34.020  11537966
4     Afghanistan      Asia  1972   36.088  13079460
...           ...       ...   ...      ...       ...
1699     Zimbabwe    Africa  1987   62.351   9216418
1700     Zimbabwe    Africa  1992   60.377  10704340
1701     Zimbabwe    Africa  1997   46.809  11404948
1702     Zimbabwe    Africa  2002   39.989  11926563
1703     Zimbabwe    Africa  2007   43.487  12311143

[1704 rows x 5 columns]

In [55]:
small_range=list(range(3,6))

In [56]:
print(small_range)

[3, 4, 5]

In [63]:
small_range=list(range(0,6,3))

In [64]:
subset=df.iloc[:,small_range]

In [65]:
print(subset)

          country  lifeExp
0     Afghanistan   28.801
1     Afghanistan   30.332
2     Afghanistan   31.997
3     Afghanistan   34.020
4     Afghanistan   36.088
...           ...      ...
1699     Zimbabwe   62.351
1700     Zimbabwe   60.377
1701     Zimbabwe   46.809
1702     Zimbabwe   39.989
1703     Zimbabwe   43.487

[1704 rows x 2 columns]

In [68]:
subset=df.iloc[:3,:3]

In [69]:
print(subset)

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962

In [105]:
small_range=list(range(0,6,6))

In [106]:
subset=df.iloc[:,small_range]

In [107]:
print(subset)

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [108]:
print(df.iloc[240,0])

Canada

In [109]:
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [120]:
print(df.groupby(['year','country'])['lifeExp'].mean())

year  country
1952  Afghanistan           28.801
      Albania               55.230
      Algeria               43.077
      Angola                30.015
      Argentina             62.485
                             ...
2007  Vietnam               74.249
      West Bank and Gaza    73.422
      Yemen, Rep.           62.698
      Zambia                42.384
      Zimbabwe              43.487
Name: lifeExp, Length: 1704, dtype: float64

In [121]:
multi_group_var=df.groupby(['year','country'])['lifeExp'].mean()

In [125]:
print(multi_group_var)

year  country
1952  Afghanistan           28.801
      Albania               55.230
      Algeria               43.077
      Angola                30.015
      Argentina             62.485
                             ...
2007  Vietnam               74.249
      West Bank and Gaza    73.422
      Yemen, Rep.           62.698
      Zambia                42.384
      Zimbabwe              43.487
Name: lifeExp, Length: 1704, dtype: float64

In [126]:
flat=multi_group_var.reset_index()

In [127]:
print(flat)

      year             country  lifeExp
0     1952         Afghanistan   28.801
1     1952             Albania   55.230
2     1952             Algeria   43.077
3     1952              Angola   30.015
4     1952           Argentina   62.485
...    ...                 ...      ...
1699  2007             Vietnam   74.249
1700  2007  West Bank and Gaza   73.422
1701  2007         Yemen, Rep.   62.698
1702  2007              Zambia   42.384
1703  2007            Zimbabwe   43.487

[1704 rows x 3 columns]

In [128]:
print(df.groupby('continent')['country'].nunique())

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

In [142]:
asia_df=df[df['continent']=='Asia'][['continent','country']]

In [143]:
print(asia_df)

     continent      country
0         Asia  Afghanistan
1         Asia  Afghanistan
2         Asia  Afghanistan
3         Asia  Afghanistan
4         Asia  Afghanistan
...        ...          ...
1675      Asia  Yemen, Rep.
1676      Asia  Yemen, Rep.
1677      Asia  Yemen, Rep.
1678      Asia  Yemen, Rep.
1679      Asia  Yemen, Rep.

[396 rows x 2 columns]