In [1]:
import pandas as pd

In [8]:
s=pd.Series(['banana',42] ,index=['person','who'])

In [9]:
print(s)

person    banana
who           42
dtype: object

In [20]:
scientists = pd.DataFrame({
        "Name": ["Rosaline Franklin", "William Gosset"],
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
}, index=['fist','second'])

In [21]:
print(scientists)

                     Name    Occupation        Born        Died  Age
fist    Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
second     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [41]:
scientists = pd.DataFrame({
        "Name": ["Rosaline Franklin", "William Gosset"],
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
}, index=['fist','second'], columns=['name','Occupation',"Born","Died","Age"])

In [42]:
print(scientists)

       name    Occupation        Born        Died  Age
fist    NaN       Chemist  1920-07-25  1958-04-16   37
second  NaN  Statistician  1876-06-13  1937-10-16   61

In [43]:
first_row=scientists.loc['fist']

In [44]:
print(type(first_row))

<class 'pandas.core.series.Series'>

In [45]:
print(first_row)

name                 NaN
Occupation       Chemist
Born          1920-07-25
Died          1958-04-16
Age                   37
Name: fist, dtype: object

In [46]:
print(first_row.index)

Index(['name', 'Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [47]:
print(first_row.values)

[nan 'Chemist' '1920-07-25' '1958-04-16' np.int64(37)]

In [48]:
print(first_row.keys())

Index(['name', 'Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [49]:
ages=scientists['Age']

In [50]:
print(ages)

fist      37
second    61
Name: Age, dtype: int64

In [52]:
scientists=pd.read_csv("C:/Users/asia/Desktop/codes/codes/data/scientists.csv")

In [53]:
ages=scientists['Age']

In [54]:
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [56]:
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [58]:
print(ages[ages>ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [59]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [60]:
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [61]:
print(ages+100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [62]:
print(pd.Series([1,100]))

0      1
1    100
dtype: int64

In [63]:
import numpy as np

In [65]:
rev_ages=ages.sort_index(ascending=False)

In [66]:
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [67]:
scientists.index

RangeIndex(start=0, stop=8, step=1)

In [68]:
scientists.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [69]:
scientists.values

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

In [70]:
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [71]:
print(scientists[:4])

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist