# 학습 내용 요약

| 주제                               | 주요 학습 내용                                                                                              |
|------------------------------------|-----------------------------------------------------------------------------------------------------------|
| **[1주차] 머신러닝 적용 사례기반 도메인 이해 및 대용량 데이터 핸들링** | - 데이터 사이언스 LIFE-CYCLE<br>- PANDAS API, DATAFRAME<br>- SKLEARN 사용법 - 머신러닝 알고리즘 소개 (DECISION TREE)<br>- 기초 예측 모델 구축 - 자전거 대여 예제<br>- 시각화 라이브러리 - MATPLOTLIB, SEABORN |
| **[1주차] 데이터 핸들링, 파생 변수 생성, 외부 데이터 활용법**          | - 데이터 프레임의 JOIN, CONCAT, BOOLEAN INDEXING, AGG<br>- 날씨가 사람에 미치는 영향으로 파생변수 생성 (주중, 일자 등)  |
| **[2주차] 다양한 알고리즘 소개 및 적용 (목적, 의미)**                  | - 선형 / 비선형 알고리즘 소개, 차이점 학습<br>- LINEAR REGRESSION, LASSO, RIDGE, RANDOM FOREST 등<br>- 회귀 모델의 성능을 평가하는 방법 - R2, RMSE 등 |
| **[2주차] 예측모델 성능 개선방법, 변수 중요도와 선택방법**             | - 예측변수의 중요도 (기여도)를 알아보는 방법<br>- 전진 / 후진 제거<br>- HYPER PARAMETER TUNING 구현                      |
| **[3주차] 정보를 얻는 (공부하는) 방법, 분류 데이터의 예측모델 구축**   | - HOTEL BOOKING DATASET 논문 기반 학습<br>- 예약 취소사유를 호텔 지정/년도 별 시각화<br>- 논문에서 다루는 데이터 해석법을 구현  |
| **[3주차] 분류모델의 성능 평가지표**                                  | - CONFUSION MATRIX 소개 및 도출되는 평가지표 소개 및 구현<br>- 분류모델에서 ROC/AUC 곡선 사용 및 해석                   |
| **[4주차] 군집분석 목적, 모델링 데이터가 많을 경우 대처법**            | - CLUSTER MEANS를 통한 단계 마케팅 분야 소개<br>- K-MEANS 알고리즘 소개 및 적용<br>- 데이터 샘플링 개념 소개 및 구현      |
| **[4주차] 지도/비지도 학습의 차이, 주요 분석법**                      | - 지도/비지도 학습 용어 소개 및 차이점<br>- 차원 축소 알고리즘 (PCA, PLS)<br>- 군집분석 알고리즘 특징 및 결과 해석방법<br>- 수업에서 다루지 못한 부가분석 (추천 시스템 등) 소개 |

# 기본 연산

In [12]:
print(100 / 200)   # +, -, / , * , %

0.5

In [5]:
print() # 정수는 표현에 제한이 없음

200

In [16]:
2 ** 48   # 표현의 한계  ( 4 byte )   - C, C++. JAVA

281474976710656

In [17]:
1234567890123456789012345678901234567890 + 1

1234567890123456789012345678901234567891

In [18]:
a = 1
type(a)

int

In [19]:
a = "a"
type(a)

str

In [20]:
a = 1.1 
type(a)

float

In [21]:
a = True
type(a)

bool

In [22]:
print( 100 + 10 )

110

In [23]:
print( 100 - 10 )

90

In [24]:
print( 100 / 10 )

10.0

In [25]:
print( 100 * 10 )

1000

In [27]:
print( 100 // 3 )   # 몫

33

In [28]:
print( 100 % 3 )    # 나머지

1

In [29]:
print( 100 ** 10 )  # 제곱

100000000000000000000

In [30]:
a = 100 + 10
a

110

In [31]:
# 논리 연산( and, or )
print( True and True )        #   a == 1
print( True and False )
print( False and True )
print( False and False )

True
False
False
False

In [32]:
print( True or True )
print( True or False )
print( False or True )
print( False or False )

True
True
True
False

In [33]:
print(not True)
print(not False)

False
True

# 비교 연산

In [34]:
# 비교 판단
print( 5 > 3 )

True

In [35]:
# 숫자 비교 
print( 7 == 7 )

True

In [36]:
a = 7
b = 7
print( a == b )

True

In [37]:
print( 7 != 7 )   # 7과 7은 다른가 ?

False

In [38]:
# 문자 비교
print('Hello' == 'Hello')
print('Hello' == 'hello')
print('Hello' != 'hello')

True
False
True

In [39]:
# 부동호 비교 
print( 1 > 2 )
print( 1 > 2 )
print( 1 >= 2 )
print( 1 <= 2 )

False
False
False
True

In [41]:
# 개체의 비교
print(1 == 1.0)
print(1 is 1.0)
print(1 is not 1.0)

True
False
True

<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\KGITBANK.DESKTOP-9ITP31A\AppData\Local\Temp\ipykernel_7808\3465238908.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(1 is 1.0)
C:\Users\KGITBANK.DESKTOP-9ITP31A\AppData\Local\Temp\ipykernel_7808\3465238908.py:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print(1 is not 1.0)

# 2. 변수와 자료형

## 변수

In [42]:
# 변수 만들기
x = 100
print(x)

100

In [43]:
x = 'Hello, world'
print(x)

Hello, world

In [44]:
# 여러개의 변수를 차리 가능
x, y, z = 100, 200, 300
print(x)
print(y)
print(z)

100
200
300

In [45]:
# 변수를 생성, 삭제 가능
x = 10
print('1', x)
del x
print('2', x)

1 10

NameError: name 'x' is not defined

In [46]:
1a = 10  # 변수는 영문으로 시작 , 특정한 특수문자

SyntaxError: invalid decimal literal (482919702.py, line 1)

## 자료형 

1) Numbers

In [47]:
int_val = 1
print(int_val)

1

In [48]:
int_val2 = -10
print(int_val2)

-10

In [49]:
float_val1 = 11.1 
print(float_val1)

11.1

In [51]:
float_val2 = 10.5 + 1E12   # 1000000000000 ( 0 * 12 )
print(float_val2)

1000000000010.5

In [52]:
complex_val1 = 3.14j
print(complex_val1)

3.14j

In [53]:
complex_val2 = 2.12e1 - 7j
print(complex_val2)

(21.2-7j)

2) String

In [55]:
str = 'Hello world'
print(str)

Hello world

In [56]:
print(str[0])

H

In [57]:
print(str[2:5])

llo

In [58]:
print(str[2:])

llo world

In [59]:
print(str * 5)

Hello worldHello worldHello worldHello worldHello world

In [60]:
print(str + ' text add ')

Hello world text add

3) List

In [61]:
list = [ 'abcd', 567, 2.34, 'kim', 70.5 ]
print(list)

['abcd', 567, 2.34, 'kim', 70.5]

In [64]:
print(list[0][1])

b

In [63]:
print(list[1:3])

[567, 2.34]

In [66]:
list[1] = 'xxx'
print(list)

['abcd', 'xxx', 2.34, 'kim', 70.5]

4) Tupple

In [67]:
tup = (1, 'abvc', 2.5)
print(tup)

(1, 'abvc', 2.5)

In [69]:
print(tup[1])

abvc

In [70]:
tup[1] = 'xyz'

TypeError: 'tuple' object does not support item assignment

5) 함수

In [72]:
max(1, 2, 3, 5, 4)

5

In [73]:
a = (1, 2, 3, 5, 4)
max(a)

5

In [74]:
def add(a, b):
    return a + b

a = 3
b = 5

c = add(a, b)
print(c)

8

6. 모듈

$ mo1.py  모듈 생성 

def add(a, b):
    return a + b

def sub(a, b):
    return a + b

In [78]:
from mo1 import add, sub
add(5, 2)

7

# 데이터 이해

## CSV 불러오기

In [80]:
import os
os.getcwd()     # 현재 나의 위치

'd:\\python-workspace'

In [81]:
!dir

 D 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 5A74-F2DC

 d:\python-workspace 디렉터리

2025-03-08  오후 12:09    <DIR>          .
2025-03-08  오후 12:09    <DIR>          ..
2025-03-08  오전 09:54    <DIR>          .ipynb_checkpoints
2025-03-08  오후 12:09            27,205 1일차.ipynb
2025-03-08  오후 12:06    <DIR>          data
2025-03-08  오전 11:48                68 mo1.py
2025-03-08  오전 11:47    <DIR>          __pycache__
2025-03-08  오전 10:02    <DIR>          데이터분석
2025-03-08  오전 10:23    <DIR>          빅데이터분석과머신러닝_강의자료
               2개 파일              27,273 바이트
               7개 디렉터리  490,988,265,472 바이트 남음

In [82]:
!dir data

 D 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 5A74-F2DC

 d:\python-workspace\data 디렉터리

2025-03-08  오후 12:06    <DIR>          .
2025-03-08  오후 12:06    <DIR>          ..
2025-03-07  오후 10:53            42,782 bicycle.csv
2025-03-07  오후 10:53            45,945 bicycle.xlsx
2020-01-27  오후 09:17               574 read.json
               3개 파일              89,301 바이트
               2개 디렉터리  490,988,265,472 바이트 남음

In [94]:
import pandas as pd

In [95]:
# 파일 경로를 찾고 변수 file_path에 파일명을 저장
file_path = './data/bicycle.csv'
print(file_path)

./data/bicycle.csv

In [96]:
import time

In [99]:
# read CSV()함수로 데이터프레임 변환
start_time = time.time()
df1 = pd.read_csv(file_path, encoding='cp949')

end_time = time.time()
print(end_time - start_time)
df1

0.005924224853515625

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-23220,2024-11-01 8:48,646,장한평역 1번출구 (국민은행앞),3.0,2024-11-01 9:01,3,중랑센터,7.0,12.0,1100.0
1,SPB-16216,2024-11-04 8:38,646,장한평역 1번출구 (국민은행앞),2.0,2024-11-04 8:56,3,중랑센터,2.0,7.0,1420.0
2,SPB-21097,2024-11-04 8:46,646,장한평역 1번출구 (국민은행앞),1.0,2024-11-04 8:57,3,중랑센터,7.0,10.0,NaN
3,SPB-22292,2024-11-05 8:34,646,장한평역 1번출구 (국민은행앞),1.0,2024-11-05 8:45,3,중랑센터,NaN,10.0,1380.0
4,SPB-07935,2024-11-05 12:29,512,뚝섬역 1번 출구 옆,11.0,2024-11-05 12:39,3,중랑센터,7.0,10.0,1650.0
...,...,...,...,...,...,...,...,...,...,...,...
415,SPB-12116,2024-11-15 4:22,112,극동방송국 앞,5.0,2024-11-15 4:33,101,(구)합정동 주민센터,1.0,11.0,2200.0
416,SPB-17768,2024-11-15 9:31,103,망원역 2번출구 앞,14.0,2024-11-15 9:37,101,(구)합정동 주민센터,NaN,5.0,NaN
417,SPB-18841,2024-11-15 20:40,113,홍대입구역 2번출구 앞,24.0,2024-11-15 20:53,101,(구)합정동 주민센터,1.0,12.0,2280.0
418,SPB-24467,2024-11-15 21:55,152,마포구민체육센터 앞,18.0,2024-11-15 22:05,101,(구)합정동 주민센터,1.0,10.0,1180.0
419,SPB-17570,2024-11-15 22:16,391,정동길입구,7.0,2024-11-15 23:04,101,(구)합정동 주민센터,5.0,48.0,8100.0

## excel 불러오기

In [104]:
# 파일 경로를 찾고 변수 file_path에 파일명을 저장
file_path = './data/bicycle.xlsx'
print(file_path)

./data/bicycle.xlsx

In [103]:
0.1276569366455078 / 0.005924224853515625

21.548293625241467

In [102]:
# read CSV()함수로 데이터프레임 변환
start_time = time.time()
df2 = pd.read_excel(file_path)
end_time = time.time()
print(end_time - start_time)
df2

0.1276569366455078

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-23220,2019-11-01 08:48:31,646,장한평역 1번출구 (국민은행앞),3.0,2024--11-01 9:01:24 AM,3,중랑센터,7.0,12.0,1100.0
1,SPB-16216,2019-11-04 08:38:39,646,장한평역 1번출구 (국민은행앞),2.0,2024--11-04 8:56:33 AM,3,중랑센터,2.0,7.0,1420.0
2,SPB-21097,2019-11-04 08:46:37,646,장한평역 1번출구 (국민은행앞),1.0,2024--11-04 8:57:35 AM,3,중랑센터,7.0,10.0,NaN
3,SPB-22292,2019-11-05 08:34:59,646,장한평역 1번출구 (국민은행앞),1.0,2024--11-05 8:45:45 AM,3,중랑센터,NaN,10.0,1380.0
4,SPB-07935,2019-11-05 12:29:00,512,뚝섬역 1번 출구 옆,11.0,2024--11-05 12:39:37 PM,3,중랑센터,7.0,10.0,1650.0
...,...,...,...,...,...,...,...,...,...,...,...
415,SPB-12116,2019-11-15 04:22:13,112,극동방송국 앞,5.0,2024--11-15 4:33:40 AM,101,(구)합정동 주민센터,1.0,11.0,2200.0
416,SPB-17768,2019-11-15 09:31:48,103,망원역 2번출구 앞,14.0,2024--11-15 9:37:56 AM,101,(구)합정동 주민센터,NaN,5.0,NaN
417,SPB-18841,2019-11-15 20:40:40,113,홍대입구역 2번출구 앞,24.0,2024--11-15 8:53:46 PM,101,(구)합정동 주민센터,1.0,12.0,2280.0
418,SPB-24467,2019-11-15 21:55:13,152,마포구민체육센터 앞,18.0,2024--11-15 10:05:40 PM,101,(구)합정동 주민센터,1.0,10.0,1180.0
419,SPB-17570,2019-11-15 22:16:08,391,정동길입구,7.0,2024--11-15 11:04:53 PM,101,(구)합정동 주민센터,5.0,48.0,8100.0

## JSON 불러오기

In [105]:
# 파일 경로를 찾고 변수 file_path에 파일명을 저장
file_path = './data/read.json'
print(file_path)

./data/read.json

In [106]:
# read json()함수로 데이터프레임 변환
start_time = time.time()
df3 = pd.read_json(file_path)
end_time = time.time()
print(end_time - start_time)
df3

0.01894974708557129

,1.FirstName,2.LastName,3.Age,4.University,5.Courses
0,Gildong,Hong,20,Gachon University,"{'Classes': ['Probability', 'Generalized Linea..."
1,Gildong,Hong,20,Gachon University,"{'Classes': ['Data Structure', 'Programming', ..."

# 데이터 저장하기

##  CSV 파일 저장하기

In [108]:
# 파일 경로를 찾고 변수 file_path에 파일명을 저장
file_path = './data/bicycle.csv'

# read CSV()함수로 데이터프레임 변환
df1 = pd.read_csv(file_path, encoding='cp949')
print(df1)
print('=' * 50)

# to_CSV 함수를 사용해서 CSV 파일 저장하기 ( 중요 : index=False 반드시 사용 할 것 )
df1.to_csv('./data/example_data.csv', index=False)

# 저장 파일 확인
file_path = './data/example_data.csv'
df2 = pd.read_csv(file_path)
print(df2)

         자전거번호              대여일시  대여소번호               대여소명  대여거치대  \
0    SPB-23220   2024-11-01 8:48    646  장한평역 1번출구 (국민은행앞)    3.0
1    SPB-16216   2024-11-04 8:38    646  장한평역 1번출구 (국민은행앞)    2.0
2    SPB-21097   2024-11-04 8:46    646  장한평역 1번출구 (국민은행앞)    1.0
3    SPB-22292   2024-11-05 8:34    646  장한평역 1번출구 (국민은행앞)    1.0
4    SPB-07935  2024-11-05 12:29    512        뚝섬역 1번 출구 옆   11.0
..         ...               ...    ...                ...    ...
415  SPB-12116   2024-11-15 4:22    112            극동방송국 앞    5.0
416  SPB-17768   2024-11-15 9:31    103         망원역 2번출구 앞   14.0
417  SPB-18841  2024-11-15 20:40    113       홍대입구역 2번출구 앞   24.0
418  SPB-24467  2024-11-15 21:55    152         마포구민체육센터 앞   18.0
419  SPB-17570  2024-11-15 22:16    391              정동길입구    7.0

                 반납일시  반납대여소번호       반납대여소명  반납거치대  이용시간    이용거리
0     2024-11-01 9:01        3         중랑센터    7.0  12.0  1100.0
1     2024-11-04 8:56        3         중랑센터    2.0   7.0  1420.0
2     2024-11-04 8:57        3         중랑센터    7.0  10.0     NaN
3     2024-11-05 8:45        3         중랑센터    NaN  10.0  1380.0
4    2024-11-05 12:39        3         중랑센터    7.0  10.0  1650.0
..                ...      ...          ...    ...   ...     ...
415   2024-11-15 4:33      101  (구)합정동 주민센터    1.0  11.0  2200.0
416   2024-11-15 9:37      101  (구)합정동 주민센터    NaN   5.0     NaN
417  2024-11-15 20:53      101  (구)합정동 주민센터    1.0  12.0  2280.0
418  2024-11-15 22:05      101  (구)합정동 주민센터    1.0  10.0  1180.0
419  2024-11-15 23:04      101  (구)합정동 주민센터    5.0  48.0  8100.0

[420 rows x 11 columns]
==================================================
         자전거번호              대여일시  대여소번호               대여소명  대여거치대  \
0    SPB-23220   2024-11-01 8:48    646  장한평역 1번출구 (국민은행앞)    3.0
1    SPB-16216   2024-11-04 8:38    646  장한평역 1번출구 (국민은행앞)    2.0
2    SPB-21097   2024-11-04 8:46    646  장한평역 1번출구 (국민은행앞)    1.0
3    SPB-22292   2024-11-05 8:34    646  장한평역 1번출구 (국민은행앞)    1.0
4    SPB-07935  2024-11-05 12:29    512        뚝섬역 1번 출구 옆   11.0
..         ...               ...    ...                ...    ...
415  SPB-12116   2024-11-15 4:22    112            극동방송국 앞    5.0
416  SPB-17768   2024-11-15 9:31    103         망원역 2번출구 앞   14.0
417  SPB-18841  2024-11-15 20:40    113       홍대입구역 2번출구 앞   24.0
418  SPB-24467  2024-11-15 21:55    152         마포구민체육센터 앞   18.0
419  SPB-17570  2024-11-15 22:16    391              정동길입구    7.0

                 반납일시  반납대여소번호       반납대여소명  반납거치대  이용시간    이용거리
0     2024-11-01 9:01        3         중랑센터    7.0  12.0  1100.0
1     2024-11-04 8:56        3         중랑센터    2.0   7.0  1420.0
2     2024-11-04 8:57        3         중랑센터    7.0  10.0     NaN
3     2024-11-05 8:45        3         중랑센터    NaN  10.0  1380.0
4    2024-11-05 12:39        3         중랑센터    7.0  10.0  1650.0
..                ...      ...          ...    ...   ...     ...
415   2024-11-15 4:33      101  (구)합정동 주민센터    1.0  11.0  2200.0
416   2024-11-15 9:37      101  (구)합정동 주민센터    NaN   5.0     NaN
417  2024-11-15 20:53      101  (구)합정동 주민센터    1.0  12.0  2280.0
418  2024-11-15 22:05      101  (구)합정동 주민센터    1.0  10.0  1180.0
419  2024-11-15 23:04      101  (구)합정동 주민센터    5.0  48.0  8100.0

[420 rows x 11 columns]

## EXCEL 파일 저장하기

In [110]:
# 파일 경로를 찾고 변수 file_path에 파일명을 저장
file_path = './data/bicycle.xlsx'

# read excel()함수로 데이터프레임 변환
df1 = pd.read_excel(file_path)
print(df1)
print('=' * 50)

# to_excel 함수를 사용해서 excel 파일 저장하기
df1.to_excel('./data/example_data.xlsx', index=False)

# 저장 파일 확인
file_path = './data/example_data.xlsx'
df2 = pd.read_excel(file_path)
print(df2)

         자전거번호                대여일시  대여소번호               대여소명  대여거치대  \
0    SPB-23220 2019-11-01 08:48:31    646  장한평역 1번출구 (국민은행앞)    3.0
1    SPB-16216 2019-11-04 08:38:39    646  장한평역 1번출구 (국민은행앞)    2.0
2    SPB-21097 2019-11-04 08:46:37    646  장한평역 1번출구 (국민은행앞)    1.0
3    SPB-22292 2019-11-05 08:34:59    646  장한평역 1번출구 (국민은행앞)    1.0
4    SPB-07935 2019-11-05 12:29:00    512        뚝섬역 1번 출구 옆   11.0
..         ...                 ...    ...                ...    ...
415  SPB-12116 2019-11-15 04:22:13    112            극동방송국 앞    5.0
416  SPB-17768 2019-11-15 09:31:48    103         망원역 2번출구 앞   14.0
417  SPB-18841 2019-11-15 20:40:40    113       홍대입구역 2번출구 앞   24.0
418  SPB-24467 2019-11-15 21:55:13    152         마포구민체육센터 앞   18.0
419  SPB-17570 2019-11-15 22:16:08    391              정동길입구    7.0

                         반납일시  반납대여소번호       반납대여소명  반납거치대  이용시간    이용거리
0     2024--11-01  9:01:24 AM        3         중랑센터    7.0  12.0  1100.0
1     2024--11-04  8:56:33 AM        3         중랑센터    2.0   7.0  1420.0
2     2024--11-04  8:57:35 AM        3         중랑센터    7.0  10.0     NaN
3     2024--11-05  8:45:45 AM        3         중랑센터    NaN  10.0  1380.0
4    2024--11-05  12:39:37 PM        3         중랑센터    7.0  10.0  1650.0
..                        ...      ...          ...    ...   ...     ...
415   2024--11-15  4:33:40 AM      101  (구)합정동 주민센터    1.0  11.0  2200.0
416   2024--11-15  9:37:56 AM      101  (구)합정동 주민센터    NaN   5.0     NaN
417   2024--11-15  8:53:46 PM      101  (구)합정동 주민센터    1.0  12.0  2280.0
418  2024--11-15  10:05:40 PM      101  (구)합정동 주민센터    1.0  10.0  1180.0
419  2024--11-15  11:04:53 PM      101  (구)합정동 주민센터    5.0  48.0  8100.0

[420 rows x 11 columns]
==================================================
         자전거번호                대여일시  대여소번호               대여소명  대여거치대  \
0    SPB-23220 2019-11-01 08:48:31    646  장한평역 1번출구 (국민은행앞)    3.0
1    SPB-16216 2019-11-04 08:38:39    646  장한평역 1번출구 (국민은행앞)    2.0
2    SPB-21097 2019-11-04 08:46:37    646  장한평역 1번출구 (국민은행앞)    1.0
3    SPB-22292 2019-11-05 08:34:59    646  장한평역 1번출구 (국민은행앞)    1.0
4    SPB-07935 2019-11-05 12:29:00    512        뚝섬역 1번 출구 옆   11.0
..         ...                 ...    ...                ...    ...
415  SPB-12116 2019-11-15 04:22:13    112            극동방송국 앞    5.0
416  SPB-17768 2019-11-15 09:31:48    103         망원역 2번출구 앞   14.0
417  SPB-18841 2019-11-15 20:40:40    113       홍대입구역 2번출구 앞   24.0
418  SPB-24467 2019-11-15 21:55:13    152         마포구민체육센터 앞   18.0
419  SPB-17570 2019-11-15 22:16:08    391              정동길입구    7.0

                         반납일시  반납대여소번호       반납대여소명  반납거치대  이용시간    이용거리
0     2024--11-01  9:01:24 AM        3         중랑센터    7.0  12.0  1100.0
1     2024--11-04  8:56:33 AM        3         중랑센터    2.0   7.0  1420.0
2     2024--11-04  8:57:35 AM        3         중랑센터    7.0  10.0     NaN
3     2024--11-05  8:45:45 AM        3         중랑센터    NaN  10.0  1380.0
4    2024--11-05  12:39:37 PM        3         중랑센터    7.0  10.0  1650.0
..                        ...      ...          ...    ...   ...     ...
415   2024--11-15  4:33:40 AM      101  (구)합정동 주민센터    1.0  11.0  2200.0
416   2024--11-15  9:37:56 AM      101  (구)합정동 주민센터    NaN   5.0     NaN
417   2024--11-15  8:53:46 PM      101  (구)합정동 주민센터    1.0  12.0  2280.0
418  2024--11-15  10:05:40 PM      101  (구)합정동 주민센터    1.0  10.0  1180.0
419  2024--11-15  11:04:53 PM      101  (구)합정동 주민센터    5.0  48.0  8100.0

[420 rows x 11 columns]

## JSON 파일 저장하기

In [112]:
# 파일 경로를 찾고 변수 file_path에 파일명을 저장
file_path = './data/read.json'

# read json()함수로 데이터프레임 변환
df1 = pd.read_json(file_path)
print(df1)
print('=' * 50)

# to_json 함수를 사용해서 excel 파일 저장하기
df1.to_json('./data/example_data.json')

# 저장 파일 확인
file_path = './data/example_data.json'
df2 = pd.read_json(file_path)
print(df2)

  1.FirstName 2.LastName  3.Age       4.University  \
0     Gildong       Hong     20  Gachon University
1     Gildong       Hong     20  Gachon University

                                           5.Courses
0  {'Classes': ['Probability', 'Generalized Linea...
1  {'Classes': ['Data Structure', 'Programming', ...
==================================================
  1.FirstName 2.LastName  3.Age       4.University  \
0     Gildong       Hong     20  Gachon University
1     Gildong       Hong     20  Gachon University

                                           5.Courses
0  {'Classes': ['Probability', 'Generalized Linea...
1  {'Classes': ['Data Structure', 'Programming', ...

# PANDAS

## 시리즈와 데이터 프레임

In [114]:
import pandas as pd

In [116]:
sd1 = pd.Series(['멍멍이', '냐옹이', '호랑이', '사자', '원숭이'],
         index=['0', '1', '2', '3', '4'])
sd1

0    멍멍이
1    냐옹이
2    호랑이
3     사자
4    원숭이
dtype: object

In [117]:
sd1 = pd.Series(['멍멍이', '냐옹이', '호랑이', '사자', '원숭이'],
         index=['a', 'b', 'c', 'd', 'e'])
sd1

a    멍멍이
b    냐옹이
c    호랑이
d     사자
e    원숭이
dtype: object

In [118]:
## 시리즈 - 1) 딕셔너리

In [119]:
dict_data = {'a' : '멍멍이', 'b' : '냐옹이', 'c' : '호랑이', 'd' : '사자', 'e' : '원숭이'}
sd2 = pd.Series(dict_data)
sd2

a    멍멍이
b    냐옹이
c    호랑이
d     사자
e    원숭이
dtype: object

In [121]:
print(type(sd1))
print(type(sd2))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

## 시리즈 - 2) 리스트

In [126]:
sd1 = pd.Series(['멍멍이', '냐옹이', '호랑이', '사자', '원숭이'],
         index=['0', '1', '2', '3', '4'])
sd1

0    멍멍이
1    냐옹이
2    호랑이
3     사자
4    원숭이
dtype: object

## 시리즈 - 3) 튜플

In [127]:
sd2 = pd.Series(('멍멍이', '냐옹이', '호랑이', '사자', '원숭이'),
         index=['0', '1', '2', '3', '4'])
sd2

0    멍멍이
1    냐옹이
2    호랑이
3     사자
4    원숭이
dtype: object

In [131]:
sd2.iloc[0] = '물고기'
sd2

0    물고기
1    냐옹이
2    호랑이
3     사자
4    원숭이
dtype: object

In [133]:
tup_data = ('멍멍이', '냐옹이', '호랑이', '사자', '원숭이')
sd2 = pd.Series(tup_data,index=['0', '1', '2', '3', '4'])
sd2

0    멍멍이
1    냐옹이
2    호랑이
3     사자
4    원숭이
dtype: object

In [134]:
sd2.iloc[0] = '물고기'
sd2

0    물고기
1    냐옹이
2    호랑이
3     사자
4    원숭이
dtype: object

### 데이터 프레임  - 1) 딕셔너리

In [136]:
dict_data = {'동물' : ['멍멍이', '냐옹이', '호랑이', '사자', '원숭이'], 
             '나이' : [7, 9, 2, 3, 1]}
print(dict_data)

{'동물': ['멍멍이', '냐옹이', '호랑이', '사자', '원숭이'], '나이': [7, 9, 2, 3, 1]}

In [137]:
df1 = pd.DataFrame(dict_data)
df1

    동물  나이
0  멍멍이   7
1  냐옹이   9
2  호랑이   2
3   사자   3
4  원숭이   1

### 데이터 프레임  - 2) 리스트

In [142]:
data = [ ['멍멍이', '7'], ['냐옹이', '9'], ['호랑이', '2'], ['사자', '3'], ['원숭이', '1']]
indexed = ['0', '1', '2', '3', '4']
columned = ['동물', '나이']

df2 = pd.DataFrame(data, index=indexed, columns=columned)
df2

    동물 나이
0  멍멍이  7
1  냐옹이  9
2  호랑이  2
3   사자  3
4  원숭이  1

# 데이터 프레임 조작

In [143]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [144]:
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [145]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [146]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [147]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [148]:
set(tips['sex'])

{'Female', 'Male'}

In [149]:
set(tips['day'])

{'Fri', 'Sat', 'Sun', 'Thur'}

In [150]:
set(tips['smoker'])

{'No', 'Yes'}

In [151]:
set(tips['time'])

{'Dinner', 'Lunch'}